.qms\.RadioButtonOptionSet .container {
    left: 8px;
    width: inherit;
    box-sizing:border-box;
}

.qms\.RadioButtonOptionSet .container.readonly {
    border:0px;
    padding-left:8px;
    left:8px;
    line-height: 2.5em;
    width: inherit;
    box-sizing:border-box;
}

.qms\.RadioButtonOptionSet .container.readonly:hover {
    background-color: #e2e2e2;
    border:0px;
    padding-left:8px;
    left:8px;
    line-height: 2.5em;
    width: inherit;
    box-sizing:border-box;
    cursor: default;
}


.qms\.RadioButtonOptionSet div.cell {
    padding-right: 2rem;
    line-height: 2rem;
}

.qms\.RadioButtonOptionSet input[type="radio"] {
    background: transparent;
    border-style: none;
    font-size: 1.0rem;
    width: inherit;
    box-sizing:border-box;
    border-radius: 0;
    padding-left: 8px;
    padding-right: 8px;
    outline: 0 !important;
}

.qms\.RadioButtonOptionSet label {
    background: transparent;
    border-style: none;
    font-size: 1.0rem;
    width: inherit;
    box-sizing:border-box;
    border-radius: 0;
    padding-left: 8px;
    padding-right: 8px;
    outline: 0 !important;
}